<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1>Add Campground</h1>
    <a href="/campgrounds">Cancel</a>
    <form action="/campgrounds/?_method=PUT" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="campground_name"><br><br>

        <label for="price">Price: </label>
        <input type="text" name="price" id="campground_price"><br><br>

        <label for="location">Location: </label>
        <input type="text" name="location" id="campground_location">

        <button type="submit">Submit Campground</button>
    </form>
</body>
</html>